/* src/app/globals.css */

@import "tailwindcss";
@plugin '@tailwindcss/typography'; /* <-- Ativa o plugin aqui */

@theme {
  /* As nossas cores e fontes personalizadas */
  --color-ardosia: #273240;
  --color-nevoa: #F2F2F2;
  --color-musgo: #53733D;
  --color-eucalipto: #B4BFA8;
  --color-pedra: #81878C;

  --font-family-lora: var(--font-lora);
  --font-family-inter: var(--font-inter);
}

@layer base {
  body {
    background-color: var(--color-nevoa);
    color: var(--color-ardosia);
    font-family: var(--font-family-inter);
  }
}